.menu-wrapper{
    background-color: $secondary-color;
    @include shadow();
}

nav{
    .menu{
        button{
            text-align: left;
            @include shadow();
        
            &:hover{
                background-color: #a2a2a2;
                border: 1px solid #a2a2a2;
            }
        
            &.active{
                background-color: $primary-color;
                border: 1px solid $primary-color;
            }
        }
    }
}

.tab-content{
    display: none;
    padding:2rem;

    h1{
        margin-bottom: 3rem;
    }

    &.active{
        display: block;
    }
}
