@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

$primary-color: #F9A826;
$secondary-color: #181622;
$light-purple: #262432;
$border-color: #C1C1C1;

body{
    color: $secondary-color;
    overflow-x: hidden;
}

.container-fluid{
    height: 100vh;
}

a, i{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    color: $primary-color;
}

input, select{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 1.9rem;
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: 5px;
}

button{
    margin-bottom: 10px;
    padding: 8px 1.9rem;
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: 5px;
}
button{color: #fff;}

@mixin display($type, $horizontal, $vertical) {
    display: $type;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin shadow {
    box-shadow: 0px 4px 10px #000000;
}

.button-wrapper{
    @include display(flex, flex-end, center);
    padding-top: 2rem;
    gap: 1.5rem;
}

