#dashboard-page{
    background-color: $light-purple;
}

.employeeContainer{
    padding: 0;
    text-align: center;
    background-color: $secondary-color;
    flex-direction: column;
    @include display(flex,space-between,center);
    @include shadow();

    p{
        line-height: 7px;
    }

    &__picture{
        width: 100%;
        height: 45%;

        img{
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__informations{
        border-bottom: 2px solid $light-purple;
        h3{
            color: $primary-color;
        }
    }

    &__status{
        border-top: 2px solid $light-purple;

        i{
            font-size: 5rem;
            color: greenyellow;
        }
    }
}

.score__wrapper{
    .allScores{
        @include display(flex, space-around, center);

        .score-box, .total-score{
            display: grid;
            place-items: center;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .score-box{
            position: relative;
            width: 180px;
            height: 150px;
            border: 2px solid $primary-color;
            border-radius: 1rem;
            background-color: $secondary-color;
            overflow: hidden;
            @include shadow();

            i{
                position: absolute;
                font-size: 150px;
                margin-left: -10rem;
                opacity: .1;
            }
        }
    }
}

