.bg-image{
    background-color: $primary-color;
    @include display(grid, center, center)
}

.form-wrapper{
    background-color: $secondary-color;
    @include display(flex, space-evenly, center);
    flex-direction: column;

    form{
        display: grid;
        place-content: center;
        input{
            color: #fff;
        }
        
        i{position: absolute;}
    
        .login-btn{
            background-color: $primary-color;
            border-color: $primary-color;
            @include shadow();
            &:hover{
                transform: translateY(-4px);
                transition: .3s ease;
            }
        }
    }
}

.fa-bullseye{
    margin-right:-1rem;
    padding:8px;
    clip-path: polygon(0 0, 50% 0%, 50% 100%, 0% 100%);
}

::placeholder{
    color: #fff;
}
